
 .buttonsTweak{
      	margin-right:2em;

      }
      .progress{
      	margin-top:1em;

      }
      .contact{
      	font-size: 4em;
      }
      

/* Fade Up Content Animation stuff */
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(3em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-up {
  animation: fade-up 3s cubic-bezier(.05,.98,.17,.97) forwards;
}

/* Visual styling */
body {
  -webkit-font-smoothing: antialiased;
}

